footer {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-top: 1px #CCCCCC solid;
    position: fixed;
    bottom: 0;
    
}